p {
    
    background: #FFFFFF ;
    border:1px dashed black;
    text-align: center;
    padding: 5px;
    
    }

div{
    background-color: orange;
    padding: 10px 10px 30px 100px;
    border-width: 8px 4px;
    border-color:plum ;
    border-style:solid;
        
    }


